body {
    max-width: 500px;
    margin: auto;
    padding-top: 100px;
    overflow-x: hidden;
}

.footer {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    body {
        max-width: 75%;
    }
}